* {
    margin: 0px;
}
body {
    background: #0e1e2b;
}
.verify {
    margin: 30px;
    padding: 10px;
    width: 30%;
    gap: 20px;
    background: #c85d1f;
    border:5px solid #5b8baf;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.textver {
    width: 70%;
    height: 40px;
}
.alertpa {
    display: none;
}
.tarjetaa {
    margin: 30px;
    padding: 10px;
    width: 30%;
    gap: 20px;
    background: #c85d1f;
    border:5px solid #5b8baf;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
}